/venv
/mediapipe

/gesture_recognition/__pycache__
/gesture_recognition/api/__pycache__
/gesture_recognition/database/__pycache__
/gesture_recognition/gesture_annotation/__pycache__

/MiscHandTracking/__pycache__
